.RelatedProducts {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 90vh;
    margin-bottom: 30vh;
}

.RelatedProducts h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.RelatedProducts hr {
    width: 200px;

    border-radius: 10px;
    margin-bottom: 20px;
    background: #252525;
    padding-bottom: 5px;


}

.RelatedProducts-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}