.btn {
    background-color: #e74c3c;
    color: #fff;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn:hover {
    background-color: #c0392b;
    transform: scale(1.1);
    color: #fff !important;
    border-color: #c0392b;
}